.solarSystem
	display: flex
	align-items: center
	justify-content: center
	margin: 20px auto
	position: relative
	width: 250px
	height: 250px

	img
		cursor: pointer
		position: relative
		z-index: 100
		transition: 0.2s
		&:hover
			transform: scale(1.2)

.orbit
	position: absolute
	border-radius: 50%
	border: 1px solid #9e9e9e

	&--mercury
		width: 150px
		height: 150px

	&--venus
		width: 250px
		height: 250px

		img
			position: absolute
			top: 170px
			left: 0